<div class="fixed top-0 w-full bg-black z-10">
  <div class="flex px-4 py-2 justify-between max-w-[52rem] mx-auto">
    <a href="/" class="text-4xl font-[OldLondon] mt-2">Shadowdark</a>

    {# NAVBAR DESKTOP #}
    <div class="place-self-center hidden md:block">
      <nav class="flex gap-4 text-xl font-bold">
    		  {% for item in config.extra.nav_menu %}
      		  <a href="{{ config.base_url ~ item.link }}">{{ item.name }}</a>
    		  {% endfor %}
      </nav>
    </div>

    {# NAVBAR MOBILE #}
    <label class="relative z-40 cursor-pointer px-3 py-6 md:hidden" for="mobile-menu">
      <input class="peer hidden" type="checkbox" id="mobile-menu" />
      <div class="relative z-50 block h-[2px] w-5 bg-stone-200 content-[''] 
                  before:absolute before:top-[-0.35rem] before:z-50 before:block before:h-full before:w-full 
                  before:bg-stone-200 before:transition-all before:duration-200 before:ease-out before:content-[''] 
                  after:absolute after:right-0 after:bottom-[-0.35rem] after:block after:h-full after:w-full 
                  after:bg-stone-200 after:transition-all after:duration-200 after:ease-out after:content-[''] 
                  peer-checked:bg-transparent before:peer-checked:top-0 before:peer-checked:w-full before:peer-checked:rotate-45 
                  before:peer-checked:transform after:peer-checked:bottom-0 after:peer-checked:w-full 
                  after:peer-checked:-rotate-45 after:peer-checked:transform"
      ></div>
      <div class="fixed inset-0 z-40 hidden h-full w-full bg-black/50 backdrop-blur-sm peer-checked:block"> &nbsp; </div>

      {# MOBILE DRAWER #}
      <div class="fixed top-0 left-0 z-40 h-full w-full -translate-x-full overflow-y-auto overscroll-y-none transition duration-500 peer-checked:translate-x-0">
          <div class="float-left min-h-full w-[80%] bg-black px-6 pt-12 shadow-2xl h-full">
            <nav class="text-2xl text-center font-bold flex flex-col justify-center h-full gap-4">
          		  {% for item in config.extra.nav_menu %}
            		  <a href="{{ config.base_url ~ item.link }}"> {{ item.name }} </a>
          		  {% endfor %}
            </nav>
          </div>
      </div>
    </label>
  </div>
</div>

<div class="h-20 psuedo"></div>
  
