{% if page.toc %}
<details class="flex rounded-lg p-2 bg-blue-800 text-zinc-200 mb-6 select-none">
  <summary class="cursor-pointer py-1 px-2 flex items-center">
    <span class="font-bold text-xl mr-auto">Table of Contents</span>
    <svg class="fill-current w-6 h-6 -mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
    </svg>
  </summary>
  <div class="px-2">
    <ul class="list-none">
      {% for h1 in page.toc %}
      <li>
        <a class="no-underline text-zinc-200" href="{{ h1.permalink | safe }}"
          >{{ h1.title }}</a
        >
        {% if h1.children %}
        <ul class="list-disc marker:text-white">
          {% for h2 in h1.children %}
          <li>
            <a class="no-underline text-zinc-200" href="{{ h2.permalink | safe }}"
              >{{ h2.title }}</a
            >
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</details>
{% endif %}